.title-panel {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    padding: 1.500rem;
    box-sizing: border-box;

    transition: all .4s;
    &:hover {
        background-color:rgba(0,0,0,.1);
    }
}

.title-accent {
    font-family: "Khula", sans-serif;
    font-size: 18px;
    font-weight: 800;
    // text-transform: uppercase;
    display: block;
}