@custom-media --med (width <= 50rem);

/* Margins */
.u-m-0 { margin: 0; }
.u-mb-2 { margin-bottom: 1rem !important; }
.u-pointer-events--n { pointer-events: none !important; }
.u-text-decoration--lt { text-decoration: line-through !important; }
.u-text-align--l { text-align: left;  }

[hidden] { display: none; }

.u-primary-color {
    color: var(--primary);
}